---
import BaseHead from '../../components/BaseHead.astro';
import { getEntry } from 'astro:content';
import SimpleBlogLayout from '../../layouts/SimpleBlogLayout.astro';
import { getAlternates, getThumbnailUrl } from '../../utils/blog';

const lang = 'en';
const post = await getEntry('blog', 'battle-front-2023');
const image = getThumbnailUrl(post);
const alternates = getAlternates(post, lang);
---

<!doctype html>
<html lang={lang}>
    <head>
        <BaseHead
            title={post.data.title}
            description={post.data.description}
            image={image}
            alternates={alternates}
        />
    </head>

    <SimpleBlogLayout post={post} lang={lang} alternates={alternates}>
        <p>
            I presented SolidJS at the
            <a href="https://sfeir.com/en/">SFEIR</a> Battle'Front event, in French,
            where 5 presenters each advocated for a different frontend framework.
        </p>
        <p>
            You can watch <a
                href="https://www.youtube.com/watch?v=LbeShbEdI1w&t=1616s"
                >my 10 minutes segment of the event on Youtube</a
            >.
        </p>
        <p>
            You can also download <a
                href="/static/2023-06-27-SolidJS-Battle-Front.pdf"
                >my presentation slides</a
            >.
        </p>
        <p>
            <strong>TL;DR:</strong> SolidJS incorporates the best aspects of React
            but is simpler and more powerful. SolidJS has popularized the Signals
            API and demonstrated its ability to enhance both developer and user experiences.
            As a result, many other frontend frameworks are now integrating Signals.
        </p>
    </SimpleBlogLayout>
</html>
