---
import type { Alternate, Lang } from '../types';
import { getProperty } from '../utils/about';
import { getUrl } from '../utils/home';
import LanguageSelector from './LanguageSelector.astro';
import ThemeSelector from './ThemeSelector.astro';

interface Props {
    lang: Lang;
    alternates?: Alternate[];
}

const { lang, alternates } = Astro.props;
const aboutUrl = getProperty('url', lang);
const aboutTitle = getProperty('shortTitle', lang);
---

<header>
    <nav>
        <h2>
            <a href={getUrl(lang)}>Nawfel Bengherbia<span>'s Blog</span></a>
        </h2>
        <div class="links">
            <a href={aboutUrl}>{aboutTitle}</a>
            <LanguageSelector lang={lang} alternates={alternates} />
            <ThemeSelector lang={lang} />
        </div>
    </nav>
</header>
<style>
    header {
        margin: 0;
        padding: 0.5rem 0.75rem;
        background: var(--bg-color);
        border-bottom: 1px solid var(--border-color);
    }

    nav {
        display: grid;
        gap: 0.75rem 0px;
        grid-template-areas: 'title' 'links';
        align-items: center;
        justify-items: center;
    }

    h2 {
        margin: 0;
        font-size: 1.25em;
        grid-area: title;

        & a span {
            font-weight: normal;
        }
    }

    .links {
        grid-area: links;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 0.75rem;
    }

    nav a {
        color: var(--heading-color);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (min-width: 600px) {
        nav {
            grid-template-areas: 'title . links';
            grid-template-columns: auto-fit auto auto;
            gap: 0;
            align-items: center;
            justify-items: initial;
        }

        h2 {
            margin: 0;
        }
    }

    @media (min-width: 1000px) {
        nav {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: '. title links';
        }
        h2 {
            margin: 0 auto;
        }
    }
</style>
