---
import BaseHead from '../../components/BaseHead.astro';
import PageLayout from '../../layouts/PageLayout.astro';
import type { Alternate } from '../../types';
import '../../styles/cv/cv-style.css';

const lang = 'en';
const title = 'Curriculum Vitae';
const description = "Nawfel Bengherbia's Curriculum Vitae";
const alternates: Alternate[] = [
    { hreflang: 'fr', href: '/fr/cv/', title: 'Curriculum Vitae' },
];
---

<!doctype html>
<html lang={lang}>
    <head>
        <BaseHead
            title={title}
            description={description}
            alternates={alternates}
        />
        <link
            rel="preload"
            as="font"
            href="/static/fonts/eb-garamond-v27-latin-regular.woff2"
        />
    </head>
    <PageLayout lang={lang} alternates={alternates}>
        <div class="print-actions">
            <a href="/static/cv/cv-en.pdf">Download as PDF</a>
        </div>
        <div class="page-container">
            <div class="page">
                <header>
                    <picture class="photo">
                        <img
                            src="/static/cv/photo.jpg"
                            alt="photo"
                            width="300"
                            height="347"
                        />
                    </picture>
                    <div class="informations">
                        <div class="name">Nawfel BENGHERBIA</div>
                        <div class="email">
                            <a href="mailto:nawfel.bgh@gmail.com"
                                >nawfel.bgh@gmail.com</a
                            >
                        </div>
                        <div class="website">
                            <a href="https://nawfelbgh.github.io/"
                                >nawfelbgh.github.io</a
                            >
                        </div>
                        <div class="title">Software engineer</div>
                    </div>
                    <a class="qrcode" href="https://nawfelbgh.github.io/">
                        <picture>
                            <img src="/static/cv/qrcode.svg" alt="qrcode" />
                        </picture>
                    </a>
                </header>
                <div class="grid">
                    <!-- arrow -->
                    <div class="arrow">
                        <div class="arrow-body"></div>
                        <div class="arrow-head"></div>
                    </div>
                    <!-- years & lines -->
                    <div class="year-line y-2013"></div>
                    <div class="year y-2013">2013</div>

                    <div class="year-line y-2014"></div>
                    <div class="year y-2014">2014</div>

                    <div class="year-line y-2016"></div>
                    <div class="year y-2016">2016</div>

                    <div class="year-line y-2017"></div>
                    <div class="year y-2017">2017</div>

                    <div class="year-line y-2018"></div>
                    <div class="year y-2018">2018</div>

                    <div class="year-line y-2022"></div>
                    <div class="year y-2022">2022</div>

                    <div class="year-line y-2023"></div>
                    <div class="year y-2023">2023</div>

                    <!-- events -->
                    <!-- 2023 events -->
                    <div class="event y-2023-1">
                        <div>Node.js Application Developer certificate</div>
                        <div>
                            <a
                                target="_blank"
                                href="https://nawfelbgh.github.io/static/jsnad.pdf"
                                >nawfelbgh.github.io/static/jsnad.pdf</a
                            >
                        </div>
                    </div>

                    <!-- 2022 events -->
                    <div class="event y-2022-1">
                        <div>Software development engineer, SFEIR, Paris</div>
                        <div>(2021-01 to now)</div>
                        <ul>
                            <li>LEASYS subscriptions dashboard</li>
                            <li>BNP Paribas Cardif API catalog website</li>
                            <li>Delfingen sales dashboard</li>
                            <li>Sanofi Accelrare medical pre-diagnosis tool</li>
                            <li>RAISE SFEIR's GenAI platform</li>
                            <li>
                                PoCs &amp; One-off interventions for SNCF, LVMH
                                and Total Energies
                            </li>
                        </ul>
                    </div>

                    <ul class="skills y-2022-1">
                        <li>NextJs</li>
                        <li>NodeJs</li>
                        <li>Angular</li>
                        <li>Cloud</li>
                        <li>K8s</li>
                        <li>Scrum</li>
                    </ul>

                    <!-- 2018 events -->
                    <div class="event y-2018-1 diploma">
                        <div>
                            Master's - Programming & Reliable Software
                            <span class="badge">Valedictorian</span>
                        </div>
                        <div>Institut Galilée - Université Paris 13</div>
                    </div>

                    <div class="event y-2018-2">
                        <div>Software development engineer, Artelys, Paris</div>
                        <div>(2018-04 to 2021-12)</div>
                        <ul>
                            <li>RATP maintenance planning</li>
                            <li>SNCF rail network simulation</li>
                            <li>
                                Rubis Terminal storage optimization dashboard
                            </li>
                            <li>Artelys Crystal Web platform &amp; website</li>
                            <li>Artelys TimeSheets app</li>
                        </ul>
                    </div>

                    <ul class="skills y-2018-2">
                        <li>ReactJs</li>
                        <li>Java</li>
                        <li>Docker</li>
                        <li>SQL</li>
                        <li>Wordpress</li>
                        <li>PHP</li>
                        <li>Mentoring juniors</li>
                    </ul>

                    <div class="event y-2018-4 research">
                        <div>
                            Publication of my 2016's engineering thesis work
                        </div>
                        <div>
                            <a
                                target="_blank"
                                href="https://doi.org/10.1016/j.procs.2018.07.262"
                                >doi.org/10.1016/j.procs.2018.07.262</a
                            >
                        </div>
                    </div>

                    <div class="event y-2018-5">
                        <div>Google Digital marketing certificate</div>
                        <div>
                            <a
                                target="_blank"
                                href="https://nawfelbgh.github.io/static/digimarketing.pdf"
                                >nawfelbgh.github.io/static/digimarketing.pdf</a
                            >
                        </div>
                    </div>

                    <!-- 2017 events -->
                    <div class="event y-2017-1 research">
                        <div>PHD student in image processing</div>
                        <div>Intern at CERIST labs, Algiers</div>
                    </div>

                    <ul class="skills y-2017-1">
                        <li>Python</li>
                        <li>Deep learning</li>
                        <li>Image recognition</li>
                    </ul>

                    <div class="event y-2017-2 research">
                        <div>
                            Coauthoring a scientific paper on image recognition
                        </div>
                        <div>
                            <a
                                target="_blank"
                                href="https://doi.org/10.1007/978-3-319-93647-5_13"
                                >doi.org/10.1007/978-3-319-93647-5_13</a
                            >
                        </div>
                    </div>

                    <div class="event y-2017-3">
                        IELTS English language test <span class="badge">C1</span
                        >
                    </div>

                    <ul class="skills y-2017-3">
                        <li>English</li>
                    </ul>

                    <!-- 2016 events -->
                    <div class="event y-2016-1 diploma">
                        <div>Master's &amp; Engineer - Informatic Systems</div>
                        <div>
                            École nationale Supérieure d’informatique, Algiers
                        </div>
                    </div>

                    <div class="event y-2016-2 research">
                        <div>
                            Intern in combinatorial optimization &amp; game
                            theory
                        </div>
                        <div>LMCS labs, Algeirs</div>
                    </div>

                    <ul class="skills y-2016-2">
                        <li>C++</li>
                        <li>Qt</li>
                        <li>Optimization</li>
                        <li>Scientific writing</li>
                    </ul>

                    <div class="event y-2016-3">
                        TCF - Test of knowledge of French <span class="badge"
                            >C1</span
                        >
                    </div>

                    <ul class="skills y-2016-3">
                        <li>French</li>
                    </ul>

                    <!-- 2014 events -->
                    <div class="event y-2014-1">
                        <div>
                            Visio conferencing prototype application for the
                            intranet
                        </div>
                        <div>SONELGAZ, Médéa, Algeria</div>
                    </div>

                    <ul class="skills y-2014-1">
                        <li>NodeJs</li>
                        <li>WebRTC</li>
                    </ul>

                    <!-- 2013 events -->
                    <div class="event y-2013-1">
                        <div>Simulator for data structure algorithms</div>
                        <div>
                            <a
                                target="_blank"
                                href="https://struct-animate.github.io/"
                                >struct-animate.github.io</a
                            >
                        </div>
                        <div>
                            École nationale Supérieure d’informatique, Algiers
                        </div>
                    </div>

                    <ul class="skills y-2013-1">
                        <li>JavaScript</li>
                        <li>Continuations</li>
                        <li>HTML5</li>
                        <li>jQuery UI</li>
                    </ul>
                </div>
            </div>
        </div>
    </PageLayout>
</html>
